	<!----right---->
	<div class="right_box">
		<div style="margin-left:50px;margin-top:20px;">
			<div style="margin-bottom:10px">
				<span><{$RES_RIGHTER_EDIT_ITEM_CATE|default:"分类"}>：</span>
				<select id="newscate">
					<option value="0"><{$RES_RIGHTER_EDIT_ITEM_NOTCATE|default:"未分类"}></option>
				</select>
			</div>
			<div class="newsarea">
				<span><{$RES_RIGHTER_EDIT_ITEM_TITLE|default:"标题"}>：</span>
				<input type="text" name="item_name">
			</div>
			<div>
				<span><{$RES_RIGHTER_EDIT_ITEM_SORT|default:"排序"}>：</span>
				<input type="text" class="sortno" name="sortno" value="1">
			</div>
			<div style="margin-bottom:10px;"><{$RES_RIGHTER_EDIT_ITEM_CONTENT|default:"内容"}>：</div>
			<div id="myeditor" style="margin-bottom:10px"></div>
			<{if '' == $itemid}>
			<button onclick="storeItem()" class="btn_orange"><{$COMMON_BOX_SAVA|default:"保存"}></button>
			<{else}>
			<button onclick="updateItem(<{$itemid}>)" class="btn_orange"><{$COMMON_BOX_CHANGE|default:"修改"}></button>
			<{/if}>
		</div>
	</div>
	<script>

	</script>
	<!----right end----> 
</div>
<!--content end-->
<script type="text/javascript" charset="utf-8" src="assets/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="assets/ueditor/ueditor.all.js"></script>

<script>
	window.onload = function(){
		var url = "<{$baseUrl}>/index.php?control=resource&action=getCateList";
		$.ajax({
			type: "post",
			url: url,
			data: '',
			success: function(data) {
				var cateObjs = JSON.parse(data);
				for (var idx in cateObjs){
					$('#newscate').append('<option value='+cateObjs[idx].id+'>'+cateObjs[idx].cate_name+'</option>');
				}// for
			}
		}); // ajax
		<{if '' != $itemid}>
		getNewsItem(<{$itemid}>);
		<{/if}>
	}


    window.UEDITOR_HOME_URL = "assets/ueditor/";

	 //实例化编辑器
    var options = {
        lang:/^zh/.test(navigator.language || navigator.browserLanguage || navigator.userLanguage) ? 'zh-cn' : 'en',
        langPath:UEDITOR_HOME_URL + "lang/",

        webAppKey:"9HrmGf2ul4mlyK8ktO2Ziayd",
        initialFrameWidth:860,
        initialFrameHeight:420,
        focus:true
    };



	var ue = UE.getEditor('myeditor', options);
    var domUtils = UE.dom.domUtils;

    ue.addListener("ready", function () {
        ue.focus(true);
    });

	
	// 获取新闻条目
	function getNewsItem(itemid){
		var url = "<{$baseUrl}>/index.php?control=resource&action=getNewsItem";
		$.ajax({
			type: "post",
			url: url,
			data: 'itemid='+itemid,
			success: function(data) {
				var itemObj = JSON.parse(data);
				$('input[name="item_name"]').val(itemObj.item_name);
				$('input[name="sortno"]').val(itemObj.sortno);
				ue.setContent(itemObj.content);
				$('#newscate').val(itemObj.cateid);
			}
		}); // ajax
	}// func
	
	// 添加新闻
	function storeItem(){
		var itemname = $('input[name="item_name"]').val();
		if ("" == itemname) {
			alert('<{$RES_RIGHTER_EDIT_ITEM_TIP1|default:"请输入新闻标题."}>');
			return;
		}
		
		if ("" == ue.getContentTxt()){
			alert('<{$RES_RIGHTER_EDIT_ITEM_TIP2|default:"请填写新闻内容."}>');
			return;
		}
		
		if (0 == $('#newscate').val()){
			alert('<{$RES_RIGHTER_EDIT_ITEM_TIP3|default:"请选择新闻分类."}>');
			return;
		}
		
		var sortno = $('input[name="sortno"]').val();
		if ("" == sortno){
			alert('<{$RES_RIGHTER_EDIT_ITEM_TIP4|default:"请输入排序号."}>');
			return;
		}
		
		var url = "<{$baseUrl}>/index.php?control=resource&action=storeItem";
		$.ajax({
			type: "post",
			url: url,
			data: 'itemname='+itemname+'&itemcont='+encodeURIComponent(ue.getContent())+'&cateid='+$('#newscate').val()+'&sortno='+sortno,
			success: function(data) {
				if (data > 0){
					alert('<{$COMMON_TIP_SAVE_SUCCESS|default:"添加成功."}>');
					clearForm();
				}else{
					alert('<{$COMMON_TIP_SAVE_FAILED|default:"添加失败."}>');
				}
			}
		}); // ajax
	}// func
	
	// 清除表单
	function clearForm(){
		 $('input[name="item_name"]').val('');
		 ue.setContent('');
	}
	
	// 修改新闻
	function updateItem(itemid){
		var itemname = $('input[name="item_name"]').val();
		if ("" == itemname) {
			alert('<{$RES_RIGHTER_EDIT_ITEM_TIP1|default:"请输入新闻标题."}>');
			return;
		}
		
		if ("" == ue.getContentTxt()){
			alert('<{$RES_RIGHTER_EDIT_ITEM_TIP2|default:"请填写新闻内容."}>');
			return;
		}
		
		if (0 == $('#newscate').val()){
			alert('<{$RES_RIGHTER_EDIT_ITEM_TIP3|default:"请选择新闻分类."}>');
			return;
		}
		
		var sortno = $('input[name="sortno"]').val();
		if ("" == sortno){
			alert('<{$RES_RIGHTER_EDIT_ITEM_TIP4|default:"请输入排序号."}>');
			return;
		}
		
		var url = "<{$baseUrl}>/index.php?control=resource&action=updateItem";
		$.ajax({
			type: "post",
			url: url,
			data: 'itemid='+itemid+'&itemname='+itemname+'&itemcont='+encodeURIComponent(ue.getContent())+'&cateid='+$('#newscate').val()+'&sortno='+sortno,
			success: function(data) {
				if (data > 0){
					alert('<{$COMMON_TIP_EDIT_SUCCESS|default:"修改成功."}>');
				}else{
					alert('<{$COMMON_TIP_EDIT_FAILED|default:"修改失败."}>');
				}
			}
		}); // ajax
	}// func
</script>