/*
------------------------------- 
website:成都银行-排号机联网监控系统 顶部及底部
author: xuduo
date:   2013-04-16
update:
-------------------------------
*/
/*=============最顶部=============*/
.top_bar,
.top_bar_left,
.top_bar_middle,
.top_bar_right .change_pw,
.top_bar_right .canceled{height:24px; overflow:hidden; background:url(../images/top_bar.png) repeat-x;}

.top_bar{min-width:980px; width:100%;}

.top_bar_left{width:180px; float:left; background-position:0 -48px;}
.top_bar_time{padding-left:15px;color:#fff; font-size:12px; line-height:24px;}
.top_bar_middle{width:28px;float:left;background-position:0 -24px;}

.top_bar_right{float:right; line-height:24px; color:#fff;}
.top_bar_right a{color:#fff;}
.top_bar_right a:hover{text-decoration:underline;}
.top_bar_right p{height:24px; padding:0 10px; float:left; border-right:1px solid #b70006;}
.top_bar_right a{padding:0 3px;}
.top_bar_right .change_pw,
.top_bar_right .canceled{height:24px; padding:0 12px 0 28px; /*display:inline-block;*/ background-repeat:no-repeat; border-left:1px solid #ce3335; border-right:1px solid #b70006;}
.top_bar_right .change_pw{background-position:3px -75px;}
.top_bar_right .canceled{background-position:3px -98px;}
/*========最顶部 end========-*/


/*========顶部 ========-*/
.head_bar{min-width:980px; width:100%; height:95px; overflow:hidden; position:relative; z-index:10; background:#e9e7e7;
background-image: linear-gradient(bottom, rgb(231,228,228) 1%, rgb(254,254,254) 82%);
background-image: -o-linear-gradient(bottom, rgb(231,228,228) 1%, rgb(254,254,254) 82%);
background-image: -moz-linear-gradient(bottom, rgb(231,228,228) 1%, rgb(254,254,254) 82%);
background-image: -webkit-linear-gradient(bottom, rgb(231,228,228) 1%, rgb(254,254,254) 82%);
background-image: -ms-linear-gradient(bottom, rgb(231,228,228) 1%, rgb(254,254,254) 82%);
background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.01, rgb(231,228,228)),
	color-stop(0.82, rgb(254,254,254))
);

 box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);}

.head_bar h1{width:410px; height:60px; margin:10px 0 0 10px; float:left; background:url(../images/logo.png) no-repeat; text-indent:200px; font-size:22px; color:#666; font-weight:100; line-height:56px; font-family:\5FAE\8F6F\96C5\9ED1 ;}/*-----logo----*/

.menu{ position:absolute; right:0; z-index:999;}
.menu li{width:87px; height:88px; float:left;}
.menu li a{width:87px; height:88px; display:block; text-align:center; color:#333;}
.menu li a:hover,
.menu li a.on{background:url(../images/menu_on.png) no-repeat; color:#c6011b;}
.menu li a.on{font-weight:bold;}
.menu li i{width:76px; height:68px; margin:0 auto;display:block; background:url(../images/menu_icon.png) no-repeat;}
.menu li i.icon_monitor{background-position:0 0;}
.menu li i.icon_statistic{background-position:-84px 0;}
.menu li i.icon_basedata{background-position:-169px 0;}
.menu li i.icon_institution{background-position:-252px 0;}
.menu li i.icon_authority{background-position:-342px 0;}
.menu li i.icon_resource{background-position:-424px 0;}
.menu li i.icon_device{background-position:-511px 0;}
.menu li i.icon_evalu{background:url(../images/menu_icon2.png) no-repeat}
.menu li i.icon_play{background:url(../images/play-manage.png) no-repeat}

.hidden_top{min-width:980px; width:100%; height:0; padding-top:7px; display:block; overflow:hidden; position:absolute; top:118px; z-index:100; background:url(../images/hidden_top.png) no-repeat center 0;border-bottom:1px solid #b3b0b0;}
/*.hidden_top:hover{background-position:center -8px;}*/

.show_top{min-width:980px; width:100%; height:0; padding-top:7px; display:block; overflow:hidden; position:absolute; top:118px; z-index:100; background:url(../images/show_top.png) no-repeat center 0;border-bottom:1px solid #b3b0b0;}
.show_top:hover{background-position:center -8px;}

/*========顶部 end========-*/

/*========底部========-*/
.foot{min-width:980px; width:100%; height:30px; overflow:hidden;  border-top:1px solid #ddd; background:#eee;z-index:9999;
background-image: linear-gradient(bottom, rgb(238,238,238) 1%, rgb(230,230,230) 93%);
background-image: -o-linear-gradient(bottom, rgb(238,238,238) 1%, rgb(230,230,230) 93%);
background-image: -moz-linear-gradient(bottom, rgb(238,238,238) 1%, rgb(230,230,230) 93%);
background-image: -webkit-linear-gradient(bottom, rgb(238,238,238) 1%, rgb(230,230,230) 93%);
background-image: -ms-linear-gradient(bottom, rgb(238,238,238) 1%, rgb(230,230,230) 93%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.01, rgb(238,238,238)),
	color-stop(0.93, rgb(230,230,230))
);}
.foot p{margin:0; padding:0; font-size:12px; text-align:center; color:#999; line-height:30px; font-family:Tahoma, "宋体";}
/*========底部 end========-*/
