/*
------------------------------- 
website:成都银行-排号机联网监控系统 登录
author: xuduo
date:   2013-04-16
update:
-------------------------------
*/

.login_bg{padding:0; margin:0;background:#fdfbfc url(../images/login_body_bg.jpg) no-repeat top center;}

.login_content{width:750px; height:400px; margin:45px auto 100px;  }
.map{min-width:980px; width:100%; height:600px; background:url(../images/map.png) no-repeat; text-indent:215px; font-size:26px; color:#666; font-weight:100; line-height:56px; font-family:\5FAE\8F6F\96C5\9ED1 ; text-align:center;}

.login_box{width:320px; height:305px; margin:40px 0 100px 55px; background:#fff;   border-radius: 6px 6px 6px 6px; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); border:1px solid #d7cfc8;}
.login_title{width:100%; height:49px; overflow:hidden; background:url(../images/login_title.png) repeat-x;  border-radius: 6px 6px 0 0;}
.login_title h2{ padding:0; margin:0;  text-align:center; color:#666; font-size:16px; line-height:49px;}

.login_form{width:240px; margin:35px auto 0;}
.login_form p{padding:0; font-size:12px;}
.login_form p a{color:#666;}

.login_id,
.login_pw{width:185px; height:40px; margin-bottom:10px;padding:0 5px 0 50px; background:url(../images/login_input.png) no-repeat; border:none; font-size:14px; color:#333; line-height:40px; }
.login_pw{background-position:0 -50px;}

.btn_login,
.btn_reset{width:88px; height:40px; margin-left:7px; background:url(../images/login_btn.png) no-repeat; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); border:none; font-size:16px; color:#666; cursor:pointer;}
.btn_login{width:143px; margin-left:0; background-position:-8px -5px; font-weight:bold; color:#83420a;}
.btn_login:hover{background-position:-8px -55px}
.btn_reset{background-position:-8px -105px;}
.btn_reset:hover{background-position:-8px -155px;}

.login_bg .foot{position:absolute; z-index:999; bottom:0px;}





