/*
------------------------------- 
website:成都银行-排号机联网监控系统
author: xuduo
date:   2013-04-16
update:
-------------------------------
*/
/*===========reset=============*/
body{position:relative; background:#fff; color:#333;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0; font-size:12px; font-family:"微软雅黑";}
table{border-collapse:collapse; border-spacing:0;}
legend{display:none;}
fieldset,img{border:none;}
address,caption,cite,code,dfn,em,,var{font-style:normal; font-weight:normal;}
ol,ul,li{list-style-type :none;}
h1,h2,h3,h4,h5,h6{font-weight:100; font-size:12px;}
caption{text-align:left;}
q:before,q:after{content:'';}
abbr,acronym{border:0;}
a{text-decoration:none; color:#333;}
/*===========reset end=============*/

/*===========common=============*/
.fl{float:left; display:inline;}
.fr{float:right;}
.cl{clear:both;}
.borL{border-left:1px solid #ddd;}
.bgBorL,
.bgBorR{min-height:470px; *height:470px; background:url(../images/bgBor.png) no-repeat;}
.bgBorL{padding-left:1px;}
.bgBorR{padding-right:1px;background-position:right 0;}
.pt30{padding-top:30px;}
.m10{margin:10px;}
.m20{margin:20px;}
.m30{margin:30px;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt40{margin-top:40px;}
.mt50{margin-top:50px;}
.mt80{margin-top:80px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb40{margin-bottom:40px;}
.ml50{margin-left:50px;}
.h300{height:300px;}
.h400{height:400px;}
.hide{display:none;}

.tc{text-align:center;}
.tr{text-align:right;}
.tl{text-align:left;}

.noBorR{border-right:0!important;}
.noBorB{border-bottom:0!important;}
.borDasB{border-bottom:1px dashed #ccc;}

.b20{width:100%; height:20px; overflow:hidden;}
/*===========common end=============*/


.content{min-width:980px; width:100%; display:block; overflow:hidden;margin-top:8px;}
.left_box{width:200px; height:600px; float:left; position:relative; background:#eeecec; 
background-image: linear-gradient(right , rgb(238,236,236) 68%, rgb(238,236,236) 20%);
background-image: -o-linear-gradient(right , rgb(238,236,236) 68%, rgb(238,236,236) 20%);
background-image: -moz-linear-gradient(right , rgb(238,236,236) 68%, rgb(238,236,236) 20%);
background-image: -webkit-linear-gradient(right , rgb(238,236,236) 68%, rgb(238,236,236) 20%);
background-image: -ms-linear-gradient(right , rgb(238,236,236) 68%, rgb(238,236,236) 20%);
background-image: -webkit-gradient(
	linear,
	right top,
	left top,
	color-stop(0.68, rgb(238,236,236)),
	color-stop(0.2, rgb(238,236,236))
);}
.right_box{overflow:hidden;margin-left:7px;border-left:1px solid #bfbfbf;}

.tab_close,
.counter_close,
.pop_close{ background:url(../images/icon_close.png) no-repeat;}/*----共用一张背景图----*/
/*===========left_menu=============*/
.left_menu h2{width:100%; height:45px; overflow:hidden; border-bottom:1px solid #dedddd; font-family:\5FAE\8F6F\96C5\9ED1 ; font-size:18px; color:#c6011b; text-align:center; line-height:50px;}
.left_menu_tab{}
.left_menu_tab li{width:49%; height:48px; float:left; font-size:14px; color:#999;}
.left_menu_tab .li1{border-right:1px solid #d7d5d5;}
.left_menu_tab li a{width:100%; height:48px; display:block; border-bottom:1px solid #d7d5d5; text-align:center; line-height:48px; color:#999; font-size:14px;}
.left_menu_tab li a:hover{color:#333;}
.left_menu_tab li a.on{ border-bottom:none; background:#fefefe; font-weight:bold; color:#333;
background-image: linear-gradient(bottom, rgb(255,255,255) 85%, rgb(241,239,239) 0%);
background-image: -o-linear-gradient(bottom, rgb(255,255,255) 85%, rgb(241,239,239) 0%);
background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 85%, rgb(241,239,239) 0%);
background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 85%, rgb(241,239,239) 0%);
background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 85%, rgb(241,239,239) 0%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.85, rgb(255,255,255)),
	color-stop(0, rgb(241,239,239))
);}
/*===========left_menu= end============*/

/*===========left_menu_a_list=============*/
.left_menu_a_list{padding-top:1px; display:block; clear:both; overflow:hidden;}/*-----left_menu_a_list----*/
.left_menu_a_list  li{width:196px; height:40px; border-bottom:1px solid #d7d5d5;}
.left_menu_a_list li a{width:100%; height:40px; display:block; background:url(../images/left_menu_icon.png) no-repeat 17px 15px; text-indent:33px; line-height:40px; font-size:14px; color:#333;}
.left_menu_a_list li a:hover,
.left_menu_a_list li a.on{background-color:#e4e2e2; color:#b4091e;}
.left_menu_a_list li a.on{font-weight:bold;}
/*===========left_menu_a_list end=============*/

/*===========left_menu_b_list=============*/
.left_menu_b_list{width:165px; height:500px; overflow:hidden; background:#f3f2f2; border-right:1px solid #d2d2d2;}/*-----left_menu_b_list----*/
.left_menu_b_list  li{width:100%; height:33px; border-bottom:1px solid #d7d5d5;}
.left_menu_b_list li a{width:100%; height:33px; display:block; background:url(../images/left_menu_icon.png) no-repeat 17px -20px; text-indent:33px; line-height:33px; font-size:12px; color:#333;}
.left_menu_b_list li a:hover,
.left_menu_b_list li a.on{background-color:#e4e2e2; color:#b4091e;}
.left_menu_b_list li a.on{font-weight:bold;}
/*===========left_menu_b_list end=============*/

/*===========hidden_left=============*/
.hidden_left{width:0; min-height:500px; height:100%; padding-left:7px; overflow:hidden; display:block; position:absolute; z-index:100; top:126px;left:193px; background:url(../images/hidden_left.png) no-repeat 0 center;}
/*.hidden_left:hover{background-position:-8px center;}*/
/*===========hidden_left=============*/



/*===========tab=============*/
.mod_tab1{width:100%; height:38px; background:#f6f4f4;   border-bottom:2px solid #b7a8a8;  }
.mod_tab1 li{height:38px; padding:0 10px 0 12px; float:left;  overflow:hidden; display:inline-block; border-right:1px solid #cabfbf; font-size:14px; line-height:38px; color:#999; cursor:pointer;}
.mod_tab1 li a:hover{color:#d14648;}
.mod_tab1 li a.on{background:#fff; font-weight:bold; color:#d14648;}

/*----------------*/

.mod_tab{width:100%; height:38px; background:#f6f4f4; border-bottom:2px solid #b7a8a8;
background-image: linear-gradient(bottom, rgb(232,229,229) 85%, rgb(253,253,253) 0%);
background-image: -o-linear-gradient(bottom, rgb(232,229,229) 85%, rgb(253,253,253) 0%);
background-image: -moz-linear-gradient(bottom, rgb(253,253,253) 32%, rgb(232,229,229) 85%);
background-image: -webkit-linear-gradient(bottom, rgb(232,229,229) 85%, rgb(253,253,253) 0%);
background-image: -ms-linear-gradient(bottom, rgb(232,229,229) 85%, rgb(253,253,253) 0%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.85, rgb(232,229,229)),
	color-stop(0, rgb(253,253,253))
);}
.mod_tab li{height:38px; padding:0 10px 0 12px; float:left;  overflow:hidden; display:inline-block; border-right:1px solid #cabfbf; font-size:14px; line-height:38px; color:#999; cursor:pointer;}
.mod_tab li:hover{color:#d14648;}
.mod_tab li.on{background:#fff; font-weight:bold; color:#d14648;}
.mod_tab .tab_close{width:7px; height:7px; margin:16px 0 0 10px; display:block; float:right;}
.mod_tab li.on .tab_close{background-position:0 -17px;}
.mod_tab .tab_close:hover,
.mod_tab li.on .tab_close:hover{background-position:0 -34px;}
/*===========tab end=============*/

/*===========mod_title=============*/
.mod_title{width:100%; height:32px; position:relative; background:#f3f1f1; border-bottom:1px solid #d0d0d0; border-top:1px solid #beb5b5;
background-image: linear-gradient(bottom, rgb(237,235,235) 32%, rgb(252,251,251) 85%);
background-image: -o-linear-gradient(bottom, rgb(237,235,235) 32%, rgb(252,251,251) 85%);
background-image: -moz-linear-gradient(bottom, rgb(237,235,235) 32%, rgb(252,251,251) 85%);
background-image: -webkit-linear-gradient(bottom, rgb(237,235,235) 32%, rgb(252,251,251) 85%);
background-image: -ms-linear-gradient(bottom, rgb(237,235,235) 32%, rgb(252,251,251) 85%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.32, rgb(237,235,235)),
	color-stop(0.85, rgb(252,251,251))
);}
.mod_title_nonebor{border-top:none;}
.mod_title h3{margin-left:12px; float:left; font-size:14px; color:#333; line-height:32px; font-weight:bold;}
.title_tab li{float:left;}
.title_tab li a{height:32px; padding:0 20px;margin-right:20px;  display:block; line-height:32px;   font-size:14px; color:#999;}
.title_tab li a.on{height:33px; position:relative; z-index:100; border-right:1px solid #d9d8d8; background:#fff; font-weight:bold; color:#333;}
.title_tab li a:hover{color:#333;}
.minimized_window{margin:0; float:right; color:#999;}/*-----minimized_window------*/pop_box_menu

.hidden_title,
.display_title{width:15px;  height:15px; margin:8px 8px 0 0; display:block; float:right; background:url(../images/title_arrow.png) no-repeat;}
.hidden_title:hover{background-position:0 -15px;}
.display_title{background-position:0 -30px;}
.display_title:hover{background-position:0 -45px;}
/*===========mod_title end=============*/


/*===========mod_table=============*/
.mod_table{margin:12px; clear:both;}
.mod_table table,
.mod_table table th,
.mod_table table td{border:1px solid #dcd6d3;}
.mod_table table{width:100%;}
.mod_table table th,
.mod_table table td{padding:10px 8px; font-size:12px; color:#707070;}
.mod_table table th{background:#f7f5f4; font-size:14px; font-weight:bold; color:#796466;}
.mod_table table .tr_warning td{background:#fdf6f6; color:#ff0018; font-weight:bold;}
.mod_table table .font_red th,
.mod_table table .font_red td{color:#ff0018; font-weight:bold;}

.table_unsorted,
.table_sequence,
.table_reverse{padding-right:12px; background:url(../images/icon_sequence.png) no-repeat right 3px; color:#796466;}/*-----点击后按顺序、倒序排列------*/
.table_unsorted:hover,
.table_sequence:hover,
.table_reverse:hover{ text-decoration:underline;}
.table_sequence{background-position:right -12px;}
.table_reverse{background-position:right -26px;}

.table_title{text-align:center;}/*-----table_title------*/
.table_title h3{padding:10px 0;font-family:\5FAE\8F6F\96C5\9ED1 ; font-size:30px;}
.table_title p{font-size:14px; color:#999;}

.mod_table .table_style2{margin-bottom:10px;}
.mod_table .table_style2 th{text-align:left; font-size:12px}
.mod_table .table_style2 td{text-align:right;}
/*===========mod_table end=============*/

/*===========mob_tool=============*/
.mob_tool{margin:12px;}
.mob_tool .tool_print,
.mob_tool .tool_exl,
.mob_tool .tool_add,
.mob_tool .tool_edit,
.mob_tool .tool_del{height:16px; padding-left:20px; margin:0 6px; display:inline-table; background:url(../images/tool_icon.png) no-repeat; line-height:16px;}
.mob_tool .tool_exl{background-position:0 -30px}
.mob_tool .tool_add{background-position:0 -65px}
.mob_tool .tool_edit{background-position:0 -95px}
.mob_tool .tool_del{background-position:0 -128px}
/*===========mob_tool end=============*/

/*===========table_view=============*/
.table_view{height:26px; margin-top:-8px; float:left;  }
.table_view li{width:28px; height:24px; float:left; border:1px solid #999; border-left:none; background:#e0e0e0; 
background-image: linear-gradient(bottom, rgb(254,254,254) 94%, rgb(224,224,224) 0%);
background-image: -o-linear-gradient(bottom, rgb(254,254,254) 94%, rgb(224,224,224) 0%);
background-image: -moz-linear-gradient(bottom, rgb(254,254,254) 94%, rgb(224,224,224) 0%);
background-image: -webkit-linear-gradient(bottom, rgb(254,254,254) 94%, rgb(224,224,224) 0%);
background-image: -ms-linear-gradient(bottom, rgb(254,254,254) 94%, rgb(224,224,224) 0%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.94, rgb(254,254,254)),
	color-stop(0, rgb(224,224,224))
);
}
.table_view li.li1{border-left:1px solid #999;}
.table_view a{width:28px; height:24px; display:block; overflow:hidden;}
.table_view a.on{background:#fff;
background-image: linear-gradient(bottom, rgb(237,237,237) 54%, rgb(254,254,254) 0%);
background-image: -o-linear-gradient(bottom, rgb(237,237,237) 54%, rgb(254,254,254) 0%);
background-image: -moz-linear-gradient(bottom, rgb(237,237,237) 54%, rgb(254,254,254) 0%);
background-image: -webkit-linear-gradient(bottom, rgb(237,237,237) 54%, rgb(254,254,254) 0%);
background-image: -ms-linear-gradient(bottom, rgb(237,237,237) 54%, rgb(254,254,254) 0%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.54, rgb(237,237,237)),
	color-stop(0, rgb(254,254,254))
);}
.table_view i{width:18px; height:18px; margin:5px auto 0; display:block;background:url(../images/table_view_icon.png) no-repeat;}
.table_view i.view_table{background-position:0 2px;}
.table_view i.view_line_chart{background-position:0 -17px;}
.table_view i.view_histogram{background-position:0 -36px;}
.table_view i.view_pie_chart{background-position:0 -59px;}
/*===========table_view= end============*/

/*===========mob_search & btn=============*/
.mob_search{width:100%; padding:12px 12px; background:#f7f5f5; border-bottom:1px solid #e8e8e8;}
.btn_orange,
.btn_gray{height:24px; padding:0px 8px ; margin-right:5px; border-radius:4px; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); font-size:12px; cursor:pointer;}
.btn_orange{ border:1px solid #c28b51; background:#ffeec7; color:#7c3a00;
background-image: linear-gradient(bottom, rgb(255,228,171) 32%, rgb(255,250,237) 85%);
background-image: -o-linear-gradient(bottom, rgb(255,228,171) 32%, rgb(255,250,237) 85%);
background-image: -moz-linear-gradient(bottom, rgb(255,228,171) 32%, rgb(255,250,237) 85%);
background-image: -webkit-linear-gradient(bottom, rgb(255,228,171) 32%, rgb(255,250,237) 85%);
background-image: -ms-linear-gradient(bottom, rgb(255,228,171) 32%, rgb(255,250,237) 85%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.32, rgb(255,228,171)),
	color-stop(0.85, rgb(255,250,237))
);}
.btn_orange:hover{background-image: linear-gradient(bottom, rgb(248,185,109) 32%, rgb(254,234,207) 85%);
background-image: -o-linear-gradient(bottom, rgb(248,185,109) 32%, rgb(254,234,207) 85%);
background-image: -moz-linear-gradient(bottom, rgb(248,185,109) 32%, rgb(254,234,207) 85%);
background-image: -webkit-linear-gradient(bottom, rgb(248,185,109) 32%, rgb(254,234,207) 85%);
background-image: -ms-linear-gradient(bottom, rgb(248,185,109) 32%, rgb(254,234,207) 85%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.32, rgb(248,185,109)),
	color-stop(0.85, rgb(254,234,207))
);}
.btn_gray{ border:1px solid #999; background:#e2e2e2; color:#888;
background-image: linear-gradient(bottom, rgb(211,211,211) 32%, rgb(253,253,253) 85%);
background-image: -o-linear-gradient(bottom, rgb(211,211,211) 32%, rgb(253,253,253) 85%);
background-image: -moz-linear-gradient(bottom, rgb(211,211,211) 32%, rgb(253,253,253) 85%);
background-image: -webkit-linear-gradient(bottom, rgb(211,211,211) 32%, rgb(253,253,253) 85%);
background-image: -ms-linear-gradient(bottom, rgb(211,211,211) 32%, rgb(253,253,253) 85%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.32, rgb(211,211,211)),
	color-stop(0.85, rgb(253,253,253))
);}
.btn_gray:hover{background-image: linear-gradient(bottom, rgb(226,226,226) 32%, rgb(249,249,249) 85%);
background-image: -o-linear-gradient(bottom, rgb(226,226,226) 32%, rgb(249,249,249) 85%);
background-image: -moz-linear-gradient(bottom, rgb(226,226,226) 32%, rgb(249,249,249) 85%);
background-image: -webkit-linear-gradient(bottom, rgb(226,226,226) 32%, rgb(249,249,249) 85%);
background-image: -ms-linear-gradient(bottom, rgb(226,226,226) 32%, rgb(249,249,249) 85%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.32, rgb(226,226,226)),
	color-stop(0.85, rgb(249,249,249))
);}
/*===========mob_search & btn end=============*/


/*===========counter=============*/
.counter_box{padding:12px 0 12px 12px; overflow:hidden;}
.counter{width:200px; min-height:290px;height:auto; margin:0 10px 10px 0; float:left; overflow:hidden; }

.counter_title{width:198px; height:70px; position:relative; background:#cf444b; border:1px solid #a40002; border-radius: 4px 4px 0 0; color:#fff;
background-image: linear-gradient(bottom, rgb(201,63,72) 32%, rgb(224,86,88) 85%);
background-image: -o-linear-gradient(bottom, rgb(201,63,72) 32%, rgb(224,86,88) 85%);
background-image: -moz-linear-gradient(bottom, rgb(201,63,72) 32%, rgb(224,86,88) 85%);
background-image: -webkit-linear-gradient(bottom, rgb(201,63,72) 32%, rgb(224,86,88) 85%);
background-image: -ms-linear-gradient(bottom, rgb(201,63,72) 32%, rgb(224,86,88) 85%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.32, rgb(201,63,72)),
	color-stop(0.85, rgb(224,86,88))
);}/*-----counter_title----*/
.counter_title p{margin:8px; font-size:12px; color:#f5d9db; line-height:26px;}
.counter_title strong{font-size:14px; color:#fff; line-height:18px;}
.counter_close{width:29px; height:22px; display:block; position:absolute; right:4px; background-position:0 -49px;}
.counter_close:hover{background-position:0 -71px;}

.counter_not_enabled{}/*-----counter_not_enabled----*/
.counter_not_enabled .counter_title{background:#f3f1f1; border:1px solid #9e9e9e;
background-image: linear-gradient(bottom, rgb(239,237,237) 32%, rgb(251,251,251) 85%);
background-image: -o-linear-gradient(bottom, rgb(239,237,237) 32%, rgb(251,251,251) 85%);
background-image: -moz-linear-gradient(bottom, rgb(239,237,237) 32%, rgb(251,251,251) 85%);
background-image: -webkit-linear-gradient(bottom, rgb(239,237,237) 32%, rgb(251,251,251) 85%);
background-image: -ms-linear-gradient(bottom, rgb(239,237,237) 32%, rgb(251,251,251) 85%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.32, rgb(239,237,237)),
	color-stop(0.85, rgb(251,251,251))
);}
.counter_not_enabled p{color:#a2a1a1;}
.counter_not_enabled strong{color:#555;}
.counter_not_enabled .counter_close{background-position:0 -98px;}
.counter_not_enabled .counter_close:hover{background-position:0 -120px;}

.counter_data{width:198px; min-height:215px; height:auto;border:1px solid #d0cac8; border-top:none;}/*-----counter_text----*/
.counter_data .li_title{padding-left:8px;float:left;color:#796466;}
.counter_data .li_text{padding-right:8px;float:right; color:#666;}
.counter_data .li_score,
.counter_data .li_score span{height:15px;background:url(../images/score_icon.png) 0 -16px;}
.counter_data .li_score{width:80px; margin-top:8px; margin-right:8px; float:right; }
.counter_data .li_score span{display:block; background-position:0 0;}
.counter_score,
.counter_data ul li{height:30px; line-height:30px;}
.counter_data ul li{ border-top:1px dashed #d0cac8; }
.counter_data ul li .li_title{text-indent:1em;
.counter_data ul .counter_total_data{border-top:1px solid #d0cac8; font-we}ight:bold;}
.counter_data ul .counter_total_data .li_title{text-indent:0em;}
.counter_data .counter_efficiency{border-top:1px solid #d0cac8;  line-height:30px;}
/*===========counter end=============*/

/*===========pop=============*/
.pop_box1{width:900px; height:auto; position:absolute; top:200px; left:20%; border:1px solid #999; border-radius:6px; background:#d6d5d5;}
.pop_box{width:450px; height:auto; position:absolute; top:200px; left:20%; border:1px solid #999; border-radius:6px; background:#d6d5d5;}
.pop_box_menu1{width:80%; height:auto; position:absolute; top:400px; left:15%; border:1px solid #999; border-radius:6px; background:#FFFFFF; }
.pop_box_menu{width:98%;  border-radius:6px; background:#FFFFFF ; box-shadow:0px 0px 1px #000; margin: 0px 10px;}
/*-----pop_title----*/
.pop_title{width:100%; height:33px; position:relative; background:#DDDDDD;

}/*-----pop_title----*/
.pop_title h3{padding-left:12px;float:left; font-size:14px; font-weight:bold; line-height:33px;}
.pop_close{width:29px; height:23px; display:block; position:absolute; right:8px; background-position:0 -147px;}
.pop_close:hover{background-position:0 -171px;}

.pop_body{width:430px; height:auto; margin:0 auto 4px; overflow:hidden; background:#fff; border:1px solid #ababab;}/*-----pop_body----*/
.pop_body table,
.pop_body table tr,
.pop_body table th,
.pop_body table td{padding:5px 2px; border:none; line-height:20px;}
.pop_body table{margin:18px auto;}
.pop_body table th{padding-left:15px; font-weight:100; text-align:right;}
.pop_body table input[type="text"]{height:24px;}

.pop_foot{width:100%; padding:10px 0; overflow:hidden; background:#faf9f9; border-top:1px solid #e8e8e8; text-align:right;}
.pop_foot1{width:100%; padding:10px 0; overflow:hidden; background:#DDDDDD; border-top:1px solid #e8e8e8; text-align:center;}
/*===========pop end=============*/
.statItem{display:none}

.tool_add.statItem{display:none}
.tool_edit.statItem{display:none}
.tool_del.statItem{display:none}

.lang_pop_box{width:240px; height:auto; position:absolute; top:150px; left:36%; border:1px solid #999; border-radius:6px; background:#d6d5d5;}
.lang_pop_body{width:230px; height:auto; margin:0 auto 4px; overflow:hidden; background:#fff; border:1px solid #ababab;}/*-----pop_body----*/
.lang_pop_body table,
.lang_pop_body table tr,
.lang_pop_body table th,
.lang_pop_body table td{padding:5px 2px; border:none; line-height:20px;}
.lang_pop_body table{margin:18px auto;}
.lang_pop_body table th{padding-left:15px; font-weight:100; text-align:right;}
.lang_pop_body table input[type="text"]{height:24px;}


.pass_pop_box{width:440px; height:auto; position:absolute; top:150px; left:36%; border:1px solid #999; border-radius:6px; background:#d6d5d5;}
.pass_pop_title{width:100%; height:33px; position:relative; border-radius:6px 6px 0 0; background:#dedede;
background-image: linear-gradient(bottom, rgb(214,213,213) 32%, rgb(239,237,237) 85%);
background-image: -o-linear-gradient(bottom, rgb(214,213,213) 32%, rgb(239,237,237) 85%);
background-image: -moz-linear-gradient(bottom, rgb(214,213,213) 32%, rgb(239,237,237) 85%);
background-image: -webkit-linear-gradient(bottom, rgb(214,213,213) 32%, rgb(239,237,237) 85%);
background-image: -ms-linear-gradient(bottom, rgb(214,213,213) 32%, rgb(239,237,237) 85%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.32, rgb(214,213,213)),
	color-stop(0.85, rgb(239,237,237))
);}/*-----pop_title----*/
.pass_pop_title h3{padding-left:12px;float:left; font-size:14px; font-weight:bold; line-height:33px;}
.pass_pop_close{width:29px; height:23px; display:block; position:absolute; right:8px; background-position:0 -147px;}
.pass_pop_close:hover{background-position:0 -171px;}

.pass_pop_body{width:430px; height:auto; margin:0 auto 4px; overflow:hidden; background:#fff; border:1px solid #ababab;}/*-----pop_body----*/
.pass_pop_body table,
.pass_pop_body table tr,
.pass_pop_body table th,
.pass_pop_body table td{padding:5px 2px; border:none; line-height:20px;}
.pass_pop_body table{margin:18px auto;}
.pass_pop_body table th{padding-left:15px; font-weight:100; text-align:right;}
.pass_pop_body table input[type="text"]{height:24px;}

.pass_pop_foot{width:100%; padding:10px 0; overflow:hidden; background:#faf9f9; border-top:1px solid #e8e8e8; text-align:right;}

/*模板编辑*/
#srclist{
	display:inline;
	float:left;
	width:18%;
	border:1px solid #BFBFBF;
	border-width: 0 1px 1px 0;
}

#editarea{
	display:inline;
	float:left;
	width:80%;
	margin-left:20px;
}

#srclist > ul{
	padding: 10px;
	background: #fff;
	margin: 0;
}

#srclist h3 {
  margin: 0;
  background-color: #EEECEC;
}

#srclist h3 a {
  background: url(../images/sprite.png) 15px 13px no-repeat;
  display: block;
  padding: 10px;
  padding-left: 32px;
  margin: 0;
  color: #333;
  text-decoration: none;
  font-weight: normal;
  border-bottom:1px solid #d7d5d5;
}
#srclist h3:hover { background: #E4E2E2; }
#srclist h3.open  { background: #E4E2E2; }
#srclist h3.open a { background-position: 13px -25px; }
#srclist h3 + div { padding: 10px; }

#srclist .item{
	font-size:11px;
	height:30px;
	line-height:30px;
}
#editarea input{
	width: 13em;
	padding: .75em .25em .25em .25em;
	border: 0;
	border-bottom: 1px solid #333;
}

#editarea input:focus{
	background:white;
	font-style:normal;
	color:#000;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	outline:0 none
}

#editarea .splitarea{
	width:800px;
	height:480px;
	margin:0 auto;
	margin-top:20px;
	border:1px solid #c7c7c7;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	position:relative;
}

.nodeCanvas{
	border:1px dashed #000;
	width:100px;
	height:100px;
	z-index:10;
}

.nodeCanvas .close{
	float: right;
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
	color: #000000;
	text-shadow: 0 1px 0 #ffffff;
	opacity: 0.2;
	filter: alpha(opacity=20);
	background:#fff;
	border:1px solid #333;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	cursor: pointer;
}

input[type="button"]:disabled, input[type="button"]:disabled:hover{
	background: -moz-linear-gradient(top, #f4f4f4 0%, #e9e9e9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#e9e9e9));
	background: -webkit-linear-gradient(top, #f4f4f4 0%,#e9e9e9 100%);
	background: -o-linear-gradient(top, #f4f4f4 0%,#e9e9e9 100%);
	background: -ms-linear-gradient(top, #f4f4f4 0%,#e9e9e9 100%);
	background: linear-gradient(top, #f4f4f4 0%,#e9e9e9 100%);
	color: #999;
	border-color: #ebebeb #e1e1e1 #dadada;
}

input[type="button"]:disabled{
	text-shadow: 0 1px 1px #fff;
	box-shadow: none;
	border: 1px solid;
	cursor: not-allowed;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.link-title{
	position:relative;
	top:10%;
	width:70px;
	margin:0 auto;
}

.newsarea {
	margin-bottom:15px;
}

.newsarea input{
	width: 13em;
	padding: .75em .25em .25em .25em;
	border: 0;
	border-bottom: 1px solid #333;
}

.newsarea input:focus{
	background:white;
	font-style:normal;
	color:#000;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	outline:0 none
}

input.sortno{
	width: 2em;
	padding: .75em .25em .25em .25em;
	border: 0;
	border-bottom: 1px solid #333;
	margin-bottom:15px;
}

input.sortno:focus{
	background:white;
	font-style:normal;
	color:#000;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	outline:0 none
}

#videoList, #audioList, #picList, #textList{
	max-height:400px;
	overflow-y:scroll;
}